<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TrivagoHotelSearch">
	<listeners>
		<listener class-name="com.trivago.utilities.Reporting" />
	</listeners>


	<test name="TrivagoHotelSearchapp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.trivago.testcases.TC_SearchTest_001" />
			<class name="com.trivago.testcases.TC_SelectfromHotelList_002" />
		</classes>

	</test>

</suite>